	

body {
	margin:0 0 0 0;
}
.marco {
	border-collapse:collapse;
	background-color: #FAF0BD;
	width:100%;
}
.barraBanner {
	border-collapse:collapse;
	background-color:#F7AF1D;
	color: white;
	font-family: Helvetica;
	font-size: 50%;
	height:120px;
	width:100%;								
}

.titulo{
	padding: 20px;
}
a{
	text-decoration: none;
	color: #535352;
}
.barraMenu {
	color: #F7AF1D;
	background-color:#AEAF7A;
	border-bottom:1px solid #AEAF7A;
	border-top:1px solid #AEAF7A;
	font-family:Cooper Black;
	font-size:16px;
	width:100%;				
}
table.barraHerramienta {
	border-bottom:1px solid;
	width:100%;				
}
td.barraIzquierda {
	background-color:#87B1BA;
	border-right:1px solid red;
	height:480px;
	vertical-align:top;
}
td.barraDerecha {
	width:5px;
	vertical-align:top;
	visibility:visible;
}
table.barraIzquierdaX {
	border-style:solid;
	border:0px;
	width:100%;				
}
table.barraDerecha {
	background-color:#66FFCC;
	border-style:solid;
	border:0px;
	width:100%;				
}
.barraPie {
	background-color:#AEAF7A;
	border-top:1px solid #AEAF7A;
	font-family:Verdana, Arial;
    font-size:11px;
	height:50px;
	width:100%;				
}
.barraDerechos {
	background-color:#AEAF7A;
	font-family:Verdana, Arial;
        font-size:9px;
	width:100%;				
}
