@import url(https://fonts.googleapis.com/css?family=Muli);

.block{
	border: 1px solid #636363;
  	text-align: center;
  	vertical-align: middle;
  	border-radius: 50px;
  	background: #ffffff;
  	opacity: 0.9;
  	margin-left: 12%;
    margin-top: 5%;
  	font-family: 'Muli', sans-serif;
  	position: absolute;
  	overflow-y: scroll;
  	height: 730px;
    z-index: 3;
}

.block:hover{

}

.cont{
    height: 800px;
	background-image: url(http://www.nycgo.com/images/venues/152/tripadvisortimessquare_taggeryanceyiv_5912__x_large.jpg);
	background-size: cover;
    -webkit-filter: blur(4px);
    z-index: 1;
    position: relative;
}

.modal{
	width: 
}